
    .artigo2 img{
        width:500px
    
    }


#imagem3{
    width: 500px;
}

#imagem1{
    width:500px;
}

.par{
    width: 50%;
}

.artigo2{
    
    border: solid red 4px;
    width: 500px ;
    height: 500px;
    ;

}